In [1]:
import pandas as pd
import nose.tools
# Write your imports here

# Data Tidying and Cleaning Lab
## Reading, tidying and cleaning data. Preparing data for exploration, mining, analysis and learning

### Problem 1. Read the dataset (2 points)
The dataset [here](http://archive.ics.uci.edu/ml/datasets/Auto+MPG) contains information about fuel consumption in different cars.

Click the "Data Folder" link and read `auto_mpg.data` into Python. You can download it, if you wish, or you can read it directly from the link.

Give meaningful (and "Pythonic") column names, as per the `auto_mpg.names` file:
1. mpg
2. cylinders
3. displacement
4. horsepower
5. weight
6. acceleration
7. model_year
8. origin
9. car_name

In [2]:
mpg_data = None
### BEGIN SOLUTION
mpg_data = pd.read_fwf("http://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data", header = None)
mpg_data.columns = ["mpg", "cylinders", "displacement", "horsepower", "weight", "acceleration", "model_year", "origin", "car_name"]
### END SOLUTION

In [3]:
nose.tools.assert_is_not_none(mpg_data)
### BEGIN HIDDEN TESTS
nose.tools.assert_equal(mpg_data.shape, (398, 9))
nose.tools.assert_list_equal(mpg_data.columns.tolist(), ["mpg", "cylinders", "displacement", "horsepower", "weight", "acceleration", "model_year", "origin", "car_name"])
### END HIDDEN TESTS

Print the first 4 rows in the dataset to get a feel of what it looks like:

In [4]:
### BEGIN SOLUTION
mpg_data.head(4)
### END SOLUTION

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,car_name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,"""chevrolet chevelle malibu"""
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,"""buick skylark 320"""
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,"""plymouth satellite"""
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,"""amc rebel sst"""

### Problem 2. Inspect the dataset (1 point)
Write a function which accepts a dataset and returns the number of observations and features in it, like so: 

``` 10 observations on 15 features```

Where 10 and 15 should be replaced with the real numbers. Test your function with the `auto_mpg` dataset.

Make sure the function works with other datasets (don't worry about "1 features" or "1 observations", just leave it as it is).

In [5]:
def observations_and_features(dataset):
    """
    Returns the number of observations and features in the provided dataset
    """
    observations = None
    features = None
    ### BEGIN SOLUTION
    observations = dataset.shape[0]
    features = dataset.shape[1]
    ### END SOLUTION
    return "{} observations on {} features".format(observations, features)

In [6]:
print(observations_and_features(mpg_data))
### BEGIN HIDDEN TESTS
nose.tools.assert_equal(observations_and_features(mpg_data), "398 observations on 9 features")
nose.tools.assert_equal(observations_and_features(pd.DataFrame({"A": [0, 1], "B": [1, 2], "C": [5, 10]})), "2 observations on 3 features")
nose.tools.assert_equal(observations_and_features(pd.DataFrame({"A": [0, 1]})), "2 observations on 1 features")
nose.tools.assert_equal(observations_and_features(pd.DataFrame({"A": [0], "B": [1], "C": [5]})), "1 observations on 3 features")
nose.tools.assert_equal(observations_and_features(pd.DataFrame({"A": [0]})), "1 observations on 1 features")
### END HIDDEN TESTS

398 observations on 9 features

Inspect the data types for each column.

In [7]:
### BEGIN SOLUTION
mpg_data.dtypes
### END SOLUTION

mpg             float64
cylinders         int64
displacement    float64
horsepower       object
weight          float64
acceleration    float64
model_year        int64
origin            int64
car_name         object
dtype: object

### Problem 3. Correct errors (1 point)
The `horsepower` column looks strange. It's a string but it must be a floating-point number. Find out why this is so and convert it to floating-point number.

In [8]:
### BEGIN SOLUTION
mpg_data.horsepower = pd.to_numeric(mpg_data.horsepower, errors = "coerce")
### END SOLUTION

In [9]:
nose.tools.assert_equal(mpg_data.horsepower.dtype, "float64")
### BEGIN HIDDEN TESTS
nose.tools.assert_equal(mpg_data.dtypes.horsepower, "float64")
nose.tools.assert_equal(mpg_data.horsepower.isnull().sum(), 6)
nose.tools.assert_almost_equal(mpg_data.horsepower.mean(), 104.46938775510205, delta = 0.01)
nose.tools.assert_almost_equal(mpg_data.horsepower.std(), 38.49115993282855, delta = 0.01)
### END HIDDEN TESTS

### Problem 4. Missing values: inspection (1 point)
We saw that the `horsepower` column contained null values. Display the rows which contain those values. Assign the resulting dataframe to the `unknown_hp` variable.

In [10]:
def get_unknown_hp(dataframe):
    """
    Returns the rows in the provided dataframe where the "horsepower" column is NaN
    """
    unknown_hp = None
    ### BEGIN SOLUTION
    unknown_hp = mpg_data[mpg_data.horsepower.isnull()]
    ### END SOLUTION
    return unknown_hp

In [11]:
cars_with_unknown_hp = get_unknown_hp(mpg_data)
print(cars_with_unknown_hp)
### BEGIN HIDDEN TESTS
import math
nose.tools.assert_equal(cars_with_unknown_hp.shape, (6, 9))
test_means = cars_with_unknown_hp.mean()
nose.tools.assert_true(math.isnan(test_means.horsepower))
nose.tools.assert_true(test_means.displacement, 129)
### END HIDDEN TESTS

      mpg  cylinders  displacement  horsepower  weight  acceleration  \
32   25.0          4          98.0         NaN  2046.0          19.0
126  21.0          6         200.0         NaN  2875.0          17.0
330  40.9          4          85.0         NaN  1835.0          17.3
336  23.6          4         140.0         NaN  2905.0          14.3
354  34.5          4         100.0         NaN  2320.0          15.8
374  23.0          4         151.0         NaN  3035.0          20.5

     model_year  origin                car_name
32           71       1            "ford pinto"
126          74       1         "ford maverick"
330          80       2  "renault lecar deluxe"
336          80       1    "ford mustang cobra"
354          81       2           "renault 18i"
374          82       1        "amc concord dl"

### Problem 5. Missing data: correction (1 point)
It seems like the `NaN` values are a small fraction of all values. We can try one of several things:
* Remove them
* Replace them (e.g. with the mean power of all cars)
* Look up the models on the internet and try our best guess on the power

The third one is probably the best but the first one will suffice since these records are too few. Remove those values. Save the dataset in the same `mpg_data` variable. Ensure there are no more `NaN`s.

In [12]:
### BEGIN SOLUTION
mpg_data = mpg_data[~mpg_data.horsepower.isnull()]
### END SOLUTION

In [13]:
nose.tools.assert_equal(len(get_unknown_hp(mpg_data)), 0)
### BEGIN HIDDEN TESTS
nose.tools.assert_equal(mpg_data.shape, (392, 9))
nose.tools.assert_equal(mpg_data.isnull().sum().sum(), 0)
### END HIDDEN TESTS

### Problem 6. Years of production (1 + 1 points)
Display all unique model years. Assign them to the variable `model_years`.

In [14]:
def get_unique_model_years(dataframe):
    """
    Returns the unique values of the "model_year" column
    of the dataframe
    """
    model_years = None
    ### BEGIN SOLUTION
    model_years = mpg_data.model_year.unique()
    ### END SOLUTION
    return model_years

In [15]:
model_years = get_unique_model_years(mpg_data)
print(model_years)
### BEGIN HIDDEN TESTS
nose.tools.assert_list_equal(model_years.tolist(), [70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82])
### END HIDDEN TESTS

[70 71 72 73 74 75 76 77 78 79 80 81 82]

These don't look so good. Convert them to real years, like `70 -> 1970, 71 -> 1971`. Replace the column values in the dataframe.

In [16]:
### BEGIN SOLUTION
mpg_data.loc[:, "model_year"] = mpg_data.model_year + 1900
### END SOLUTION

In [17]:
model_years = get_unique_model_years(mpg_data)
print(model_years)
### BEGIN HIDDEN TESTS
nose.tools.assert_list_equal(model_years.tolist(), [1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980,
       1981, 1982])
### END HIDDEN TESTS

[1970 1971 1972 1973 1974 1975 1976 1977 1978 1979 1980 1981 1982]

### Problem 7. Exploration: low-power cars (1 point)
The data looks quite good now. Let's try some exploration.

Write a function to find the cars which have the smallest number of cylinders and print their model names. Return a list of car names.

In [18]:
def get_model_names_smallest_cylinders(dataframe):
    """
    Returns the names of the cars with the smallest number of cylinders
    """
    car_names = None
    ### BEGIN SOLUTION
    car_names = dataframe[dataframe.cylinders == dataframe.cylinders.min()].car_name
    ### END SOLUTION
    return car_names

In [19]:
car_names = get_model_names_smallest_cylinders(mpg_data)
print(car_names)
nose.tools.assert_true(car_names.shape == (4,) or car_names.shape == (4, 1))
### BEGIN HIDDEN TESTS
nose.tools.assert_equal(car_names.index.tolist(), [71, 111, 243, 334])
mpg_data_filtered = mpg_data[mpg_data.cylinders > 3]
test_car_names = get_model_names_smallest_cylinders(mpg_data_filtered)
nose.tools.assert_true(test_car_names.shape == (199,) or test_car_names.shape == (199, 1))
### END HIDDEN TESTS

71     "mazda rx2 coupe"
111          "maxda rx3"
243         "mazda rx-4"
334      "mazda rx-7 gs"
Name: car_name, dtype: object

### Problem 8. Exploration: correlations (1 point)
Finally, let's see some connections between variables. These are also called **correlations**.

Find how to calculate correlations between different columns using `pandas`.

**Hint:** The correlation function in `pandas` returns a `DataFrame` by default. You need only one value from it.

Create a function which accepts a dataframe and two columns and prints the correlation coefficient between those two columns.

In [20]:
def calculate_correlation(dataframe, first_column, second_column):
    """
    Calculates and returns the correlation coefficient between the two columns in the dataframe.
    """
    correlation = None
    ### BEGIN SOLUTION
    correlation = dataframe[[first_column, second_column]].corr().iloc[0, 1]
    ### END SOLUTION
    return correlation

In [21]:
hp_weight = calculate_correlation(mpg_data, "horsepower", "weight")
print("Horsepower:Weight correlation coefficient:", hp_weight)
nose.tools.assert_almost_equal(hp_weight, 0.864537737574, delta = 0.01)

### BEGIN HIDDEN TESTS
corr_test = calculate_correlation(mpg_data, "horsepower", "mpg")
nose.tools.assert_almost_equal(corr_test, -0.77842678389777509, delta = 0.01)
corr_test = calculate_correlation(mpg_data, "mpg", "acceleration")
nose.tools.assert_almost_equal(corr_test, 0.42332853690278727, delta = 0.01)
corr_test = calculate_correlation(mpg_data, "mpg", "mpg")
nose.tools.assert_equal(corr_test, 1)
### END HIDDEN TESTS

Horsepower:Weight correlation coefficient: 0.8645377375741428